@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}
html,
body {
  height: 100%;
  width: 100%;
}

#main {
  width: 100vw;
  height: 100vh;
  background: rgb(187, 255, 191);
  display: flex;
  justify-content: center;
  align-items: center;
}

#panel {
  width: 80vw;
  height: 90vh;
  border-radius: 1vmax;
  background: #f6f6f6;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#ptop {
  padding: 0vmax 13vmax;
  width: 100%;
  height: 100px;
  background: rgb(45, 100, 49);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.elem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1vmax;
  color: #fff;
}

.elem h2 {
  font-weight: 500;
  font-size: 1.5vmax;
  margin-right: .8vw;
}

.box {
  color: rgb(45, 100, 49);
  font-weight: 600;
  font-size: 2vmax;
  padding: 0.5vmax 1.5vmax;
  background: #fff;
  border-radius: 0.5vmax;
}

#pbtm {
  padding: 1vmax;
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
  justify-content: space-evenly;
  gap: 1.2vmax;
  flex-wrap: wrap;
}

.bubble {
  width: 50px;
  height: 50px;
  color: #fff;
  border-radius: 50%;
  background-color: rgb(45, 100, 49);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.bubble:hover {
  cursor: pointer;
  background-color: rgb(10, 44, 12);
}

#final-score {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 4vmax;
}

@media (max-width: 600px) {
  #panel {
    width: 96vw;
  }

  #ptop {
    padding: 0vmax 6vmax;
  }

  .elem h2 {
    font-size: 2vmax;
    margin-right: 0.5vmax;
  }

  .elem {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.1vmax;
    color: #fff;
  }

  .box {
    color: rgb(45, 100, 49);
    font-weight: 600;
    font-size: 2vmax;
    padding: 0.5vmax 1.5vmax;
    background: #fff;
    border-radius: 0.5vmax;
  }

  #pbtm {
    padding: 1vmax;
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    justify-content: space-evenly;
    gap: 1.1vmax;
    flex-wrap: wrap;
  }
}
